services:
  app:
    image: chatbot-backend
    container_name: chatbot_backend
    env_file:
      - .env
    depends_on:
      - mysql
      - ollama
    ports:
      - "8000:8000"   
    restart: always

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    env_file:
      - .env
    volumes:
      - mysql_data:/var/lib/mysql
    restart: always

  ollama:
    image: ollama/ollama:latest
    container_name: ollama_server
    env_file:
      - .env
    volumes:
      - ollama_data:/root/.ollama
    restart: always

volumes:
  mysql_data:
  ollama_data: