fastapi
uvicorn[standard]

langchain
langchain-community
langchain-ollama
langchain-chroma

chromadb

pydantic[email]
pydantic-settings

sqlalchemy
pymysql

passlib[bcrypt]
argon2-cffi
python-jose[cryptography]

requests
python-dotenv
email-validator

sentence-transformers
torch
transformers
scipy

pdfplumber
python-multipart